<%= form_for [:my, @project] do |f| %>

	<%= f.label "project[title]"%>
	<%= f.text_field :title%>

	<%= f.label "project[teaser]"%>
	<%= f.text_field :teaser%>

	<%= f.label "project[description]"%>
	<%= f.text_field :description%>

	<%= f.label "project[goal]"%>
	<%= f.number_field :goal%>

	<div class="actions-bigger-btn"><%= submit_tag 'Update Project'%></div>
<% end %>

<%=link_to "Manage Images", my_project_images_path(@project) %>
<%= link_to 'Delete Project', project_path(@project), :confirm => 'Are you sure you want to delete this project?', :method => :delete %>
